body
{
	margin-top: 10px;
	margin-left: 15%;
	margin-right: 15%;
	padding: 10px;
	background-color: #FFF;
	color: #000;
}

#titleBar
{
	padding-left:5px;
	padding-right:5px;
	background-color:Blue;
	width: 100%;
}

#widgetTitle
{
	color:White;
	float:left;
}

#helpLink
{
	float: right;
}

.evenRow
{
	background-color: antiquewhite;
}

.oddRow
{
	background-color: lightcyan;
}